# Python
__pycache__/
*.py[cod]
.env
venv/

# Node
node_modules/
dist/
.build/

# Backend artifacts
backend/aiagent.db
backend/app/aiagent_backend.egg-info/
backend/.venv/

# VSCode
.vscode/

# Mac
.DS_Store
